<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Email Validation w/ DB</title>
    <style>
        h3{
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email validation width DB</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                    <p class="text-danger">{{ message }}</p>
                    <form action="/adddata" method="POST" class="row form-group">
                        <div class="col-md-6">
                            <input type="email" name="email"    class="form-control" placeholder="Enter email">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                    {% elif category == 'add' %}
                    <a href="/">Go back</a>
                    <p class="text-success">{{ message }}</p>
                    <h3>Email addresses entered:</h3>
                    
                    <table class="table table-striped">
                        <tbody>
                            {% for user in users: %}
                            <tr>
                            <td>{{ user['email'] }}</td>
                            <td>{{ user['created_at'] }}</td>
                            <td><a href="/delete/{{ user['id'] }}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% elif category == 'delete' %}
                    <a href="/">Go back</a>
                    <h3>Email addresses entered:</h3>
                    
                    <table class="table table-striped">
                        <tbody>
                            {% for user in users: %}
                            <tr>
                            <td>{{ user['email'] }}</td>
                            <td>{{ user['created_at'] }}</td>
                            <td><a href="/delete/{{ user['id'] }}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                {% endfor %}

            {% else: %}
                <form action="/adddata" method="POST" class="row form-group">
                    <div class="col-md-6">
                        <input type="email" name="email"    class="form-control" placeholder="Enter email">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            {% endif %}

        {% endwith %}
        
    </div>
</body>
</html>