{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Coding Dojo Wall - Normal User Page</span>
    <form class="form-inline my-2 my-lg-0 right">
        <h5 class="my-2 my-lg-0">Welcome, {{ first_name }}</h5>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/logout" role="button">Logout</a>
    </form>
</nav>

<div class="container">
    <p>You're just a normal user. Until we add some features you cant do much yet. Sorry</p>
</div>

{% endwith %}
{% endblock %}